* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("img/chaitanya-tvs-1Kqc8ymfMKY-unsplash.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.countdown-container {
  display: flex;
  gap: 4rem;
}
.count {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  text-align: center;
}
.count-text {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  /* margin: 0 2rem; */
}
.span-text {
  font-size: 1.2rem;
  text-transform: capitalize;
}
